* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-text: #ab847f;
    --light-text: #e2b2a2;
    --gradient: linear-gradient(to bottom, #9973aa, #ba708b);
    --bg: #2c1442;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
}

#one {
    z-index: 6;
}

#two {
    z-index: 5;
}

#three {
    z-index: 4;
}

#four {
    z-index: 3;
}

#five {
    z-index: 2;
}

main {
    background: var(--bg);
    padding-top: 80px;
    padding-bottom: 80px;
}

main section {
    width: 80%;
    margin: auto;
}

main section h2 {
    color: var(--light-text);
    font-size: 4rem;
    text-align: center;
}

main section h1 {
    color: var(--light-text);
    font-size: 8rem;
    text-align: center;
    line-height: 1;
    margin-top: 40px;
    background: var(--gradient);
    background-clip: text;
    color: transparent;
}

main section .text-container {
    padding-top: 100px;
    gap: 20%;
    display: flex;
    color: var(--dark-text);
    font-size: 1.2rem;
        font-weight: 500;
}

main section .text-container div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}